/*-----COMMON RULES-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

*ul {
    list-style: none;
}


/*Clearfix*/
main::after {
    clear: both;
    display: table;
    content: "";
}

#side-bar::after {
    clear: both;
    display: table;
    content: "";
}

.container::after {
    clear: both;
    display: table;
    content: "";
}

.box {
    display: flex;
}

/*------SIDEBAR-------*/
#side-bar {
    float: left;
    height:calc(100vh - 90px);
    width: 250px;
    background-color: black; 
    font-size: 15px;   
} 

#logo {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

#logo img {
    height: 60%;
    margin-left: 5%;
}

.actions-list {
    height: calc(100% - 80px);
    padding: 0 6%;
}

/*Links section*/

.links {
  height: 15%;
  display: flex;
  align-items: center;
}

.links-line {
    width: 3px;
    height: 36px;
    border: 1px solid lime;
    border-radius: 3px;
    background-color: lime;
    position: relative;
    bottom: 28px;
    right: 14px;
}

.links i {
    font-size: 20px;
}

.links li {
    margin-top: 10px;
}

.links ul li a {
    text-decoration: none;
    color: rgb(88, 88, 88);
}

.links ul li a:hover {
    color: white;
}

/*Playlist section*/

.playlist {
    height: 65%; 
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px 0px;
}

.playlist .box {
    margin-bottom: 10px;
}

.btn-add,.fa-plus-square {
    font-size: 40px;
    margin-bottom: 20px;
    transform: translateY(25%);
}

.btn-add-text {
    margin-left: 10px;
}

.playlist h2 {
    font-size: 18px;
    margin-top: 25px;
}

.playlist ul {
    overflow-y: auto;
}

.playlist ul li {
    padding-bottom: 15px;
    font-size: 13px;
    list-style: none;
}

.playlist a {
    text-decoration: none;
    color: rgb(88, 88, 88);
}

.playlist a:hover {
    color: white;
}

/*Install section*/

.install-section {
    height: 10%;
    border-bottom: 1px solid lightgray;
    display:flex;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-left: 3%;
}

.install-section a {
    color: rgb(88, 88, 88);
    text-decoration: none;
}

.install-section a:hover {
    color: white;
}
   
/*account section*/

.account-section {
    height: 10%;
    display: flex;
    align-items: center;
    color: rgb(88, 88, 88);
    padding: 0 3%;
}

.account-section img {
    height: 30px;
    width: 30px;
    color: white;
    background-color: gray;
    border-radius: 30px;
    margin-right: 10px;
}


/*--------CONTENITORE ALBUM-------*/
.container {
    height: calc(100vh - 90px);
    width: calc(100% - 250px);
    background-color: rgb(20, 25, 34);
    float: left;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.big-container {
    display: flex;
}

.big-container h4 {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.big-container p {
    font-size: 12px;
    color: gray;
}

.text-row p {
    font-size: 12px;
    color: gray;
    padding-left: 23px;
}

.content-row {
    height: calc(100% - 80px);
    display: flex;
}

.text-row {
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.text-row h2 {
    color: white;
    font-size: 20px;
    padding-left: 23px;
}

.main-content {
    height: 100%;
    width: 100%;
    padding-top: 90px;
}

.main-content img {
    height: 150px;
    width: 150px;
}

.content {
    height: 100%;
    width: 100%;
}

.content img {
    height: 150px;
    width: 150px;
}

.cover-box {
    height: 220px;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.round {
    border-radius: 50%;
}

.link-box {
    text-decoration: none;
}

.overlay {
    
    height: 150px;
    width: 150px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay .fa-play-circle {
    color: white;
    font-size: 40px;
}

.cover-box:hover .overlay {
    display: flex;
}

/*content-menu*/

.main-menu {
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-menu-line {
    border: 1px solid lime;
    background-color: lime;
    border-radius: 2px;
    width: 45px;
    height: 0px;
    position: relative;
    top: 33px;
    left: 75px;
}
.main-menu ul {
    height: 100%;
    display: flex;
}

.main-menu ul li {
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    height: 100%;
    display: flex;

}

.main-menu a {
    padding-top: 10px;
    color: rgb(88, 88, 88);
    text-decoration: none;
    align-items: center;
}

.main-menu a:hover {
    color: white;
}

/*--tob-bar--*/
.top-bar {
    width: calc(100vw - 270px);
    height: 80px;
    background-color: rgb(8, 11, 18);
    position: fixed;
    z-index: 2;
}

.top-bar .content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
}

.top-bar a {
    margin-right: 5px;
    color: lightgray;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid white;
    padding: 9px 30px;
    border-radius: 40px;
}

.top-bar a:hover {
    font-size: 16px;
}


/*--------FOOTER----------*/
footer {
    height: 90px;
    width: 100%;
    background-color: rgb(33, 33, 33);  
}

footer .content {
    display: flex;
}

/*Left-side*/
.left-side {
    height: 100%;
    width: 20%;
    display: flex;
    position: relative;
}

.left-side img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 5px;
    top: calc(50% - 30px);
}

.left-side h4 {
     color: white;
     font-size: 14px;
     position: absolute;
     left: 75px;
     top: 35px;
}

.left-side p {
    font-size: 12px;
    color: gray;
    position: absolute;
    left: 75px;
    top: 48px;
}

.left-side i {
    color: gray;
    font-size: 18px;
}

.left-side i:hover {
    color: white;
}

.left-side .content {
    height: 100%;
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 70%;
}

/*center*/
.center {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center span{
     font-size: 10px;
     color: white;
}

.col {
    height: 50%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.long-col {
    height: 50%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.long-bar {
    width: 75%;
    height: 3px;
    border-radius: 3px;
    background-color: gray;
}


.long-bar-line {
    height: 2px;
    border-radius: 2px;
    background-color: lightgray;
    width: 80px;
    position: relative;
}

.long-bar-line .pointer {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    background-color: transparent;
    transform: translateY(-3.5px);
}

.long-bar-line .pointer:hover {
    background-color: white;
}

.long-bar-line:hover {
    background-color: lime;
}

.center i {
    color: white;
    font-size: 14px;
}

#play-btn {
    font-size: 25px;
    position: relative;
    top: 4px;
}

#play-btn:hover {
    font-size: 30px;
    top: 6px;
}

/*right-side*/
.right-side {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side i {
    position: relative;
    left: 25px;
    margin-left: 20px;
    font-size: 17px;
    color: lightgray;
}

.bar {
    height: 3px;
    border-radius: 3px;
    background-color: gray;
    width: 80px;
    position: relative;
    left: 40px;
}

.line-bar {
    height: 2px;
    border-radius: 2px;
    background-color: lightgray;
    width: 20px;
    position: relative;
}

.line-bar:hover {
    background-color: lime;
}

.line-bar .pointer {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    background-color: transparent;
    transform: translateY(-3.5px);
}

.line-bar .pointer:hover {
    background-color: white;
}