/*-----COMMON RULES-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


/*Clearfix*/
main::after {
    clear: both;
    display: table;
    content: "";
}

.box {
    display: flex;
}

/*------SIDEBAR-------*/
#side-bar {
    float: left;
    height:calc(100vh - 90px);
    width: 20%;
    background-color: black; 
    font-size: 15px;   
} 

#logo {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

#logo img {
    height: 60%;
    margin-left: 5%;
}

.actions-list {
    height: calc(100% - 80px);
    padding: 0 3%;
}

/*Links section*/

.links {
  height: 15%;
  display: flex;
  align-items: center;
  padding: 0 3%;
}

.links i {
    font-size: 20px;
}

.links ul {
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

/*Playlist section*/

.playlist {
    height: 65%; 
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px 3%;
}

.playlist .box {
    margin-bottom: 10px;
}

.btn-add,.fa-plus-square {
    font-size: 40px;
    margin-bottom: 20px;
    transform: translateY(25%);
}

.btn-add-text {
    margin-left: 10px;
}

.playlist h2 {
    font-size: 18px;
}

.playlist ul li {
    padding-bottom: 15px;
    font-size: 13px;
    list-style: none;
}

.playlist a {
    text-decoration: none;
    list-style: none;
    color: lightgray;
}

/*Install section*/

.install-section {
    height: 10%;
    border-bottom: 1px solid lightgray;
    display:flex;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-left: 3%;
}

.install-section a {
    color: white;
    text-decoration: none;
}

/*account section*/

.account-section {
    height: 10%;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 3%;
}

.account-section img {
    height: 30px;
    width: 30px;
    color: white;
    background-color: gray;
    border-radius: 30px;
    margin-right: 10px;
}


/*--------CONTENITORE ALBUM-------*/
.container {
    height: calc(100vh - 90px);
    width: 80%;
    background-color: rgb(20, 25, 34);
    float: left;
    overflow-y: scroll;
}

.content-row {
    height: calc(100% - 80px);
    display: flex;
}

/*--tob-bar--*/
.top-bar {
    width: 100%;
    height: 80px;
    background-color: rgb(8, 11, 18);
}


/*--------FOOTER----------*/
footer {
    height: 90px;
    width: 100%;
    background-color: rgb(33, 33, 33);  
}
